[submodule "modules/Vulkan"]
	path = modules/Vulkan
	url = https://github.com/drshapeless/vulkan-jai-binding.git
[submodule "modules/SDL3"]
	path = modules/SDL3
	url = https://github.com/drshapeless/jai-sdl3.git
[submodule "modules/Json"]
	path = modules/Json
	url = https://github.com/drshapeless/json-parser.git
[submodule "modules/MSDF"]
	path = modules/MSDF
	url = https://github.com/drshapeless/msdfvk.git
